<!DOCTYPE html>
<html layout:decorate="~{/cliente/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Dashboard | Cliente</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet" href="../assets/css/admin-template.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
	
	<div layout:fragment="body">
		
		<!-- 
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="container-box">
						</div>
					</div>
					<div class="col-md-6">
						<div class="container-box">
						</div>
					</div>
				</div>
			</div>
		</div>
		 -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="container-box">
							<div id='agenda_de_passeios'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:inline="javascript">
						
		  document.addEventListener('DOMContentLoaded', function() {
		    var calendario = document.getElementById('agenda_de_passeios');
		
		    var calendar = new FullCalendar.Calendar(calendario, {
		      locale: 'pt-br',
		      buttonText: {
		    	  today:    'hoje',
		    	  month:    'mês',
		    	  week:     'semana',
		    	  day:      'dia',
		    	  list:     'lista'
		      },
		      headerToolbar: {
		        left: 'prevYear,prev,next,nextYear today',
		        center: 'title',
		        right: 'dayGridMonth,dayGridWeek,dayGridDay'
		      },
		      initialDate: '[(${diaPrimeiroDoMes})]',
		      navLinks: true,
		      editable: true,
		      dayMaxEvents: true,
		      events: [(${jsonPasseios})]
		    });
		
		    calendar.render();
		  });
		
		</script>
		
	</div>

	<div class="line"></div>

</body>
</html>