<!DOCTYPE html>
<html layout:decorate="~{/cliente/layout}">
<head>
<meta charset="UTF-8">
<title>Cliente | Detalhes do Passeio</title>
</head>
<body>
	
	<div layout:fragment="body">
	
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Informações do passeio</th>
					</tr>
					<tr>
						<th>ID</th>
						<th>Data e Hora</th>
						<th>Status</th>
						<th>Valor</th>
						<th>Forma de Pagamento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${passeio.id}"></td>
						<td th:text="${#temporals.format(passeio.datahora, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${passeio.status}"></td>
						<td th:text="${#numbers.formatCurrency(passeio.valor)}"></td>
						<td th:text="${passeio.formaDePagamento.tipo}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Profissional responsável pelo passeio</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img class="rounded-circle" th:src="${passeio.profissional.pessoa.foto}" width="50">
						</td>
						<td th:text="${passeio.profissional.pessoa.nome}"></td>
						<td th:text="${passeio.profissional.pessoa.email}"></td>
						<td th:text="${passeio.profissional.pessoa.telefone}"></td>
						<td th:text="${passeio.profissional.pessoa.cidade} + '/' + ${passeio.profissional.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Cliente responsável pelos cachorros</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img class="rounded-circle" th:src="${passeio.profissional.pessoa.foto}" width="50">
						</td>
						<td th:text="${passeio.cliente.pessoa.nome}"></td>
						<td th:text="${passeio.cliente.pessoa.email}"></td>
						<td th:text="${passeio.cliente.pessoa.telefone}"></td>
						<td th:text="${passeio.cliente.pessoa.cidade} + '/' + ${passeio.cliente.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">Cachorros para o passeio</th>
					</tr>
					<tr>
						<th>Nome</th>
						<th>Data Nascimento</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cachorro: ${cachorros}">
						<td th:text="${cachorro.nome}"></td>
						<td th:text="${#dates.format(cachorro.dataNascimento, 'dd/MM/yyyy')}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
</body>
</html>