<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Cliente | Detalhes do Passeio</title>
</head>
<body>
	
	<div layout:fragment="body">
		
		<div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${message != null}">
  			<span th:text="${message}"></span>
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
		
		<div class="container-box" th:if="${!transacaoPicpay.empty}">
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Transações Picpay</th>
					</tr>
					<tr>
						<th>QRCode</th>
						<th>Link de pagamento</th>
						<th>Data de expiração</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tPicpay : ${transacaoPicpay}">
						<td>
							<img th:src="${tPicpay.qrcodeBase64}" style="max-width: 120px">
						</td>
						<td><a target="_blank" th:href="${tPicpay.paymentUrl}" th:text="${tPicpay.paymentUrl}" title="Clique para abrir a página de pagamento."></a></td>
						<td th:text="${tPicpay.expiresAt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Informações do passeio</th>
					</tr>
					<tr>
						<th>ID</th>
						<th>Data e Hora</th>
						<th>Status</th>
						<th>Valor</th>
						<th>Forma de Pagamento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${passeio.id}"></td>
						<td th:text="${#temporals.format(passeio.datahora, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${passeio.status}"></td>
						<td th:text="${#numbers.formatCurrency(passeio.valor)}"></td>
						<td th:text="${passeio.formaDePagamento.tipo}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Profissional responsável pelo passeio</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img th:if="${passeio.profissional.pessoa.base64Foto == null}" src="/assets/imgs/default-img.png" width="50">
							<img th:if="${passeio.profissional.pessoa.base64Foto != null}" th:src="*{'data:image/png;base64,'+passeio.profissional.pessoa.base64Foto}" width="50">
						</td>
						<td th:text="${passeio.profissional.pessoa.nome}"></td>
						<td th:text="${passeio.profissional.pessoa.email}"></td>
						<td th:text="${passeio.profissional.pessoa.telefone}"></td>
						<td th:text="${passeio.profissional.pessoa.cidade} + '/' + ${passeio.profissional.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Cliente responsável pelos cachorros</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img th:if="${passeio.cliente.pessoa.base64Foto == null}" src="/assets/imgs/default-img.png" width="50">
							<img th:if="${passeio.cliente.pessoa.base64Foto != null}" th:src="*{'data:image/png;base64,'+passeio.cliente.pessoa.base64Foto}" width="50">
						</td>
						<td th:text="${passeio.cliente.pessoa.nome}"></td>
						<td th:text="${passeio.cliente.pessoa.email}"></td>
						<td th:text="${passeio.cliente.pessoa.telefone}"></td>
						<td th:text="${passeio.cliente.pessoa.cidade} + '/' + ${passeio.cliente.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">Cachorros para o passeio</th>
					</tr>
					<tr>
						<th>Nome</th>
						<th>Data Nascimento</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cachorro: ${cachorros}">
						<td th:text="${cachorro.nome}"></td>
						<td th:text="${#dates.format(cachorro.dataNascimento, 'dd/MM/yyyy')}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box" th:if="${!localizacoes.empty}">
		
			<h5>Registro do passeio</h5>
			<hr>
			
			<div id="map" style="width: 100%; height: 400px;"></div>
			
			<script type="text/javascript">
			    var locations = [(${jsonLocations})]

			    var map = new google.maps.Map(document.getElementById('map'), {
			      zoom: 17,
			      center: new google.maps.LatLng(-22.233985, -45.700863),
			      mapTypeId: google.maps.MapTypeId.ROADMAP
			    });
			
			    var infowindow = new google.maps.InfoWindow();
			
			    var marker, i;
			
			    for (const property in locations) {  
			    	
			      marker = new google.maps.Marker({
			        position: new google.maps.LatLng(property, locations[property]),
			        map: map
			      });
			
			      google.maps.event.addListener(marker, 'click', (function(marker, i) {
			        return function() {
			          infowindow.setContent(locations[i][0]);
			          infowindow.open(map, marker);
			        }
			      })(marker, i));
			      
			    }
			  </script>
			
		</div>
		
	</div>
	
</body>
</html>