<!DOCTYPE html>
<html layout:decorate="~{/cliente/layout}">
<head>
<meta charset="UTF-8">
<title>Cliente | Meus Passeios</title>
</head>
<body>
	
	<div layout:fragment="body">
		<div class="container-box">

			<a th:href="@{/passeio/cliente/solicitar-passeio}" class="btn btn-success">Solicitar Passeio</a>
			<hr>

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Logo</th>
						<th>Profissional</th>
						<th>Data/Hora</th>
						<th>Status</th>
						<th>Valor</th>
						<th>Forma de Pagamento</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
					<tr th:each="passeio: ${passeios}">
						<td th:text="${passeio.id}">1</td>
						<td>
							<img class="rounded-circle" th:src="${passeio.profissional.pessoa.foto}" width="50">
						</td>
						<td th:text="${passeio.profissional.pessoa.nome}">1</td>
						<td th:text="${#temporals.format(passeio.datahora, 'dd/MM/yyyy HH:mm')}">1</td>
						<td th:text="${passeio.status}">1</td>
						<td th:text="${#numbers.formatCurrency(passeio.valor)}">1</td>
						<td th:text="${passeio.formaDePagamento.tipo}">1</td>
						<td>
							<a th:href="@{/passeio/cliente/detalhes/{id} (id=${passeio.id})}" class="btn btn-secondary">Detalhes</a>
						</td>
					</tr>
				
				</tbody>
			</table>
		</div>
	</div>
	
</body>
</html>