<!DOCTYPE html>
<html layout:decorate="~{/cliente/layout}">
<head>
<meta charset="UTF-8">
<title>Cliente | Solicitar Passeio</title>
</head>
<body>
	
	<div layout:fragment="body">
		<div class="container-box">
			
			<form method="POST" th:object="${passeio}" th:action="@{/passeio/cliente/post-solicitar-passeio}">
				<div class="form-group">
				  	<label for="formGroupExampleInput">Profissional:</label>
				  	<select class="form-control" th:name="profissionalId">
				  		<option th:each="profissional: ${profissionais}" th:value="${profissional.id}" th:text="${profissional.nome}"></option>
				  	</select>
				</div>
				
				<div class="form-group">
				  	<label for="formGroupExampleInput">Data do Passeio:</label>
				  	<input type="datetime-local" class="form-control" id="formGroupExampleInput" th:name="datahora">
				</div>

				<div class="form-group">
				  	<label for="formGroupExampleInput2">Este passeio é para qual cão?</label>
				  	<select class="form-control" th:name="cachorroId">
				  		<option th:each="cachorro: ${cachorros}" th:value="${cachorro.id}" th:text="${cachorro.nome}"></option>
				  	</select>
				</div>
				<div class="form-group">
				  	<label for="formGroupExampleInput2">Este é o valor do passeio.</label>
				  	<input type="number" class="form-control" id="formGroupExampleInput2" placeholder="" th:name="valor" th:value="0.0">
				</div>
				<div class="form-group">
				  	<button type="submit" class="btn btn-success btn-block">Solicitar Passeio</button>
				</div>
			  </form>
			
		</div>
	
	</div>
	
</body>
</html>