<!DOCTYPE html>
<html layout:decorate="~{/profissional/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Informar Recebimento</title>
</head>
<body>
	
	<div layout:fragment="body">
	
		<div class="container-box">
		
			<form method="POST" th:object="${recebimento}" th:action="@{/recebimento/profissional/post-informar-recebimento}">
				
				<input type="hidden" th:name="passeioId" th:value="${passeioId}">
				<input type="hidden" th:name="profissionalId" th:value="${passeio.profissionalId}">
				
				<div class="form-group">
					 <label for="valor">Data de recebimento:</label>
					 <input type="date" class="form-control" th:id="dataRecebimento" th:name="dataRecebimento" required th:value="${dataAtual}">
				</div>
				
				<div class="form-group">
				  	<label for="formGroupExampleInput">Forma de pagamento:</label>
				  	<select class="form-control" th:name="formaDePagamentoId" required>
				  		<option th:each="formaDePagamento: ${formasDePagamento}" th:value="${formaDePagamento.id}" th:text="${formaDePagamento.tipo}" th:selected="${passeio.formaDePagamentoId}"></option>
				  	</select>
				</div>
								
				<div class="form-group">
					 <label for="valor">Valor do passeio:</label>
					 <input type="text" class="form-control" th:id="valor" th:name="valor" required th:value="${passeio.valor}">
				</div>
				
				<div class="form-group">
				  	<button id="btn_concluir" type="submit" class="btn btn-success btn-block">Concluir <i class="fa fa-save" aria-hidden="true"></i></button>
				</div>
			  </form>
		
		</div>
		
		<script>
			document.querySelector("form").addEventListener("submit", (event) => {
				document.querySelector("btn_concluir").disabled = true;
			})
		</script>
		
	</div>
	
</body>
</html>