<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Alterar Configuração</title>
</head>
<body>
	
	<div layout:fragment="body">
	
		<div class="container-box">
		
			<form method="POST" th:object="${configuracaoDaAgenda}" th:action="@{/configuracao-da-agenda/profissional/put-alterar-configuracao-da-agenda}">
				
				<input type="hidden" th:name="id" th:value="${id}">
				<input type="hidden" th:name="_method" th:value="PUT">
				
				<div class="form-group">
				  	<label for="formGroupExampleInput">Dia da semana:</label>
				  	<select class="form-control" th:name="diaSemana" required>
				  		<option th:each="diaSemana: ${diasDaSemana}" th:value="${diaSemana.key}" th:text="${diaSemana.value}" th:selected="${config.diaSemana == diaSemana.key}"></option>
				  	</select>
				</div>
				
				<div class="row">
				
					<div class="form-group col-lg-4">
					  	<label for="formGroupExampleInput">Inicio do expediente:</label>
					  	<input type="time" class="form-control" id="formGroupExampleInput" th:name="horaInicio" required th:value="${config.horaInicio}">
					</div>
					
					<div class="form-group col-lg-4">
					  	<label for="formGroupExampleInput">Final do expediente:</label>
					  	<input type="time" class="form-control" id="formGroupExampleInput" th:name="horaFinal" required th:value="${config.horaFinal}">
					</div>
					
					<div class="form-group col-lg-4">
					  	<label for="formGroupExampleInput">Tempo de Passeio (Mín 1 hora)</label>
					  	<input type="number" class="form-control" id="formGroupExampleInput" th:name="tempoDePasseio" required th:value="${config.tempoDePasseio}">
					</div>
					
				</div>
				
				<div class="form-group">
					 <label for="formGroupExampleInput">Valor do passeio:</label>
					 <input type="text" class="form-control" id="formGroupExampleInput" th:name="valorPasseio" required th:value="${config.valorPasseio}">
				</div>
				
				<div class="form-group">
				  	<button type="submit" class="btn btn-success btn-block">Alterar <i class="fa fa-save" aria-hidden="true"></i></button>
				</div>
			  </form>
		
		</div>
		
	</div>
	
</body>
</html>