<!DOCTYPE html>
<html layout:decorate="~{/cliente/layout}">
<head>
<meta charset="UTF-8">
<title>Cliente | Meus Cães</title>
</head>
<body>
	
	<div layout:fragment="body">
	
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${responseError != null}">
  			<span th:text="${responseError}"></span>
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
		
		<div class="container-box">
						
			<a th:href="@{/cachorro/cliente/adicionar-cachorro}" class="btn btn-success">Adicionar Cachorro</a>
			<hr>

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Data de Nascimento</th>
						<th>Nome</th>
						<th>Raça</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
					<tr th:each="cachorro: ${cachorros}">
						<td th:text="${cachorro.id}">1</td>
						<td th:text="${#dates.format(cachorro.dataNascimento, 'dd/MM/yyyy')}">1</td>
						<td th:text="${cachorro.nome}">1</td>
						<td th:text="${cachorro.raca.nome}">1</td>
						<td>
							<a th:href="@{/cachorro/cliente/alterar-cachorro/{id} (id=${cachorro.id})}" class="btn btn-warning">Alterar</a>
							<a th:href="@{/cachorro/cliente/deletar-cachorro/{id} (id=${cachorro.id})}" class="btn btn-danger">Excluir</a>
						</td>
					</tr>
				
				</tbody>
			</table>
		</div>
	</div>
	
</body>
</html>