<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Detalhes do Passeio</title>
</head>
<body>
	
	<div layout:fragment="body">
		
		<div class="container-box" th:if="${!transacaoPicpay.empty}">
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Transações Picpay</th>
					</tr>
					<tr>
						<th>QRCode</th>
						<th>Link de pagamento</th>
						<th>Data de expiração</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tPicpay : ${transacaoPicpay}">
						<td>
							<img th:src="${tPicpay.qrcodeBase64}" style="max-width: 120px">
						</td>
						<td><a target="_blank" th:href="${tPicpay.paymentUrl}" th:text="${tPicpay.paymentUrl}" title="Clique para abrir a página de pagamento."></a></td>
						<td th:text="${tPicpay.expiresAt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="6">Informações do passeio</th>
					</tr>
					<tr>
						<th>ID</th>
						<th>Data e Hora</th>
						<th>Status</th>
						<th>Valor</th>
						<th>Forma de Pagamento</th>
						<th th:if="${passeio.status != 'Finalizado'}"></th>
						<th th:if="${passeio.status == 'Finalizado'}">Finalizado dia</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${passeio.id}"></td>
						<td th:text="${#temporals.format(passeio.datahora, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${passeio.status}"></td>
						<td th:text="${#numbers.formatCurrency(passeio.valor)}"></td>
						<td th:text="${passeio.formaDePagamento.tipo}"></td>
						<td class="text-center" th:if="${passeio.status != 'Finalizado'}">
							<button th:if="${passeio.status == 'Espera'}" class="btn btn-success" onclick="alterarStatus('aprovar')" id="btn_aprovar_passeio">Aprovar</button>
							<button th:if="${passeio.status == 'Espera'}" class="btn btn-danger" onclick="alterarStatus('recusar')" id="btn_recusar_passeio">Recusar</button>
							<button th:if="${passeio.status == 'Aprovado'}" class="btn btn-secondary" onclick="alterarStatus('finalizar')" id="btn_finalizar_passeio">Finalizar</button>
						</td>
						<td th:if="${passeio.status == 'Finalizado'}" th:text="${#temporals.format(passeio.datahorafinalizacao, 'dd/MM/yyyy HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Profissional responsável pelo passeio</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img th:if="${passeio.profissional.pessoa.base64Foto == null}" src="/assets/imgs/default-img.png" width="50">
							<img th:if="${passeio.profissional.pessoa.base64Foto != null}" th:src="*{'data:image/png;base64,'+passeio.profissional.pessoa.base64Foto}" width="50">
						</td>
						<td th:text="${passeio.profissional.pessoa.nome}"></td>
						<td th:text="${passeio.profissional.pessoa.email}"></td>
						<td th:text="${passeio.profissional.pessoa.telefone}"></td>
						<td th:text="${passeio.profissional.pessoa.cidade} + '/' + ${passeio.profissional.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
		
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">Cliente responsável pelos cachorros</th>
					</tr>
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Cidade/UF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img th:if="${passeio.cliente.pessoa.base64Foto == null}" src="/assets/imgs/default-img.png" width="50">
							<img th:if="${passeio.cliente.pessoa.base64Foto != null}" th:src="*{'data:image/png;base64,'+passeio.cliente.pessoa.base64Foto}" width="50">
						</td>
						<td th:text="${passeio.cliente.pessoa.nome}"></td>
						<td th:text="${passeio.cliente.pessoa.email}"></td>
						<td th:text="${passeio.cliente.pessoa.telefone}"></td>
						<td th:text="${passeio.cliente.pessoa.cidade} + '/' + ${passeio.cliente.pessoa.estado}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="container-box">
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">Cachorros para o passeio</th>
					</tr>
					<tr>
						<th>Nome</th>
						<th>Data Nascimento</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cachorro: ${cachorros}">
						<td th:text="${cachorro.nome}"></td>
						<td th:text="${#dates.format(cachorro.dataNascimento, 'dd/MM/yyyy')}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<script>
					
			function alterarStatus(status){
				
				let msg = "";
				let funcao = "";
				let btn = "";
				let ok = true;
				
				if(status == "aprovar"){
					
					msg = "Confirma a aprovação do passeio?";
					funcao = "aprovar-passeio";
					btn = "btn_aprovar_passeio";
					
				}else if(status == "recusar"){
					
					msg = "Confirma a recusa do passeio?";
					funcao = "recusar-passeio";
					btn = "btn_recusar_passeio";
					
				}else if(status == "finalizar"){
					
					msg = "Confirma a finalização do passeio?";
					funcao = "finalizar-passeio";
					btn = "btn_finalizar_passeio";
					
				}else{
					ok = false;
				}
				
				if(ok){
					
					swal({
						  title: "Atenção.",
						  text: msg,
						  icon: "warning",
						  buttons: true,
						  dangerMode: false,
					})
					.then((confirma) => {
						  if (confirma) {
								document.querySelector("#" + btn).disabled = true;
						    	window.location = "/passeio/profissional/" + funcao + "/" + [(${passeio.id})]
						  }
					});
					
				}
				
			}	
		
		</script>
		
	</div>
	
</body>
</html>