<!DOCTYPE html>
<html layout:decorate="~{/profissional/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Dashboard</title>
</head>
<body>
	
	<div layout:fragment="body">
		
		<div class="row">
			<div class="col-md-6">
				
				<div class="container-box">
					<canvas id="passeiosAgrupadoPorMes"></canvas>
				</div>
				
			</div>
			
			<div class="col-md-6">
				
				<div class="container-box">
					<canvas id="ticketMedioAgrupadoPorMes"></canvas>
				</div>
				
			</div>
						
		</div>
		
		<script>
			
			let passeiosAgrupadoPorMes = document.querySelector("#passeiosAgrupadoPorMes")
		
			var myChart = new Chart(passeiosAgrupadoPorMes, {
			    type: 'bar',
			    data: {
			        labels: [(${grafPasseioPorMesJsonNomesMeses})],
			        datasets: [{
			            label: '# Número de passeios',
			            data: [(${grafPasseioPorMesJsonValoresMeses})],
			            backgroundColor: [(${grafPasseioPorMesJsonCores})],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
			
			<!-- gráfico ticket médio -->
			
			let ticketMedioAgrupadoPorMes = document.querySelector("#ticketMedioAgrupadoPorMes")
			
			var myChart = new Chart(ticketMedioAgrupadoPorMes, {
			    type: 'line',
			    data: {
			        labels: [(${grafTicketMedioJsonNomesMeses})],
			        datasets: [{
			            label: '# Ticket Médio',
			            data: [(${grafTicketMedioJsonValoresMeses})],
			            backgroundColor: [(${grafTicketMedioJsonCores})],
			            borderColor: [(${grafTicketMedioJsonCores})],
			            borderWidth: 3,
			            fill: false
			        }]
			    },
			    options: {}
			});
		
		</script>
		
	</div>
	
</body>
</html>