<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Dashboard</title>
</head>
<body>
	
	<div layout:fragment="body">
		
		<div class="row">
		
			<div class="col-lg-6">
				
				<div class="container-box">
					<h5>Sua reputação</h5>
					<br>
					<div class="estrelas">
						<span th:class="${rating >= 1 ? 'fa fa-star checked fa-3x' : 'fa fa-star fa-3x'}"></span>
						<span th:class="${rating >= 2 ? 'fa fa-star checked fa-3x' : 'fa fa-star fa-3x'}"></span>
						<span th:class="${rating >= 3 ? 'fa fa-star checked fa-3x' : 'fa fa-star fa-3x'}"></span>
						<span th:class="${rating >= 4 ? 'fa fa-star checked fa-3x' : 'fa fa-star fa-3x'}"></span>
						<span th:class="${rating >= 5 ? 'fa fa-star checked fa-3x' : 'fa fa-star fa-3x'}"></span>
					</div>
				</div>
				
			</div>
			
			<div class="col-lg-6">
				
				<div class="container-box">
					
					<h5>Número de avaliações</h5>
					<br>
					<span style="font-size: 2em;" th:if="${numeroAvaliacoes == 0}"> Nenhuma avaliação</span>
					<span style="font-size: 2em;" th:if="${numeroAvaliacoes == 1}" th:text="${numeroAvaliacoes}"></span> <span th:if="${numeroAvaliacoes == 1}"> avaliação</span>
					<span style="font-size: 2em;" th:if="${numeroAvaliacoes > 1}" th:text="${numeroAvaliacoes}"></span> <span th:if="${numeroAvaliacoes > 1}"> avaliações</span>
				</div>
				
			</div>
									
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				
				<div class="container-box">
					<canvas id="passeiosAgrupadoPorMes"></canvas>
				</div>
				
			</div>
			
			<div class="col-lg-4">
				
				<div class="container-box">
					<canvas id="ticketMedioAgrupadoPorMes"></canvas>
				</div>
				
			</div>
			
			<div class="col-lg-4">
				
				<div class="container-box">
					<canvas id="recebimentoAgrupadoPorMes"></canvas>
				</div>
				
			</div>
						
		</div>
		
		<script>
			
			let passeiosAgrupadoPorMes = document.querySelector("#passeiosAgrupadoPorMes")
		
			var myChart = new Chart(passeiosAgrupadoPorMes, {
			    type: 'bar',
			    data: {
			        labels: [(${grafPasseioPorMesJsonNomesMeses})],
			        datasets: [{
			            label: '# Número de passeios',
			            data: [(${grafPasseioPorMesJsonValoresMeses})],
			            backgroundColor: [(${grafPasseioPorMesJsonCores})],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
			
			<!-- gráfico ticket médio -->
			
			let ticketMedioAgrupadoPorMes = document.querySelector("#ticketMedioAgrupadoPorMes")
			
			var myChart = new Chart(ticketMedioAgrupadoPorMes, {
			    type: 'line',
			    data: {
			        labels: [(${grafTicketMedioJsonNomesMeses})],
			        datasets: [{
			            label: '# Ticket Médio',
			            data: [(${grafTicketMedioJsonValoresMeses})],
			            backgroundColor: [(${grafTicketMedioJsonCores})],
			            borderColor: [(${grafTicketMedioJsonCores})],
			            borderWidth: 3,
			            fill: false
			        }]
			    },
			    options: {}
			});
			
			<!-- recebimento por mes -->
			
			let recebimentoAgrupadoPorMes = document.querySelector("#recebimentoAgrupadoPorMes")
			
			var myChart = new Chart(recebimentoAgrupadoPorMes, {
			    type: 'horizontalBar',
			    data: {
			        labels: [(${grafRecebimentoJsonNomesMeses})],
			        datasets: [{
			            label: '# Recebimento por Pagamento',
			            data: [(${grafRecebimentoJsonValoresMeses})],
			            backgroundColor: [(${grafRecebimentoJsonCores})],
			            borderWidth: 3,
			            fill: false
			        }]
			    },
			    options: {}
			});
		
		</script>
		
	</div>
	
</body>
</html>