<!DOCTYPE html>
<html layout:decorate="~{layout_landing_page}">
<head>
<meta charset="UTF-8">
<title>99Dogs | Crie sua conta</title>
</head>
<body>
	<div layout:fragment="body">
		<div class="container">

			<div class="row align-items-center">

				<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
					<center>
						<img src="./assets/imgs/16939.jpg" alt=""
							class="img-fluid d-none d-md-block">
						<h2>Encontre um Dog Walker!</h2>
						<p class="font-italic text-muted mb-0">Crie sua conta e
							encontre um Dogwalker mais próximo de você.</p>
					</center>
				</div>

				<div class="col-md-7 col-lg-6 ml-auto">
					<br>
					
					<h1 th:if="${param.error == nulll && param.createdFailed == null && param.email_in_use == null}" class="lead text-center">Crie sua conta e encontre o
						melhor Dog Walker para seu cãozinho!</h1>
						
					<h1 th:if="${param.createdFailed}" class="lead text-center alert alert-danger">
						Ocorreu um problema e não conseguimos criar sua conta, tente novamente!
					</h1>
					
					<h1 th:if="${param.email_in_use}" class="lead text-center alert alert-danger">
						Já exite um cadastro com este e-mail.
					</h1>
										
					<hr>
					<form th:action="@{/criar-conta-cliente}" th:method="POST" th:object="${pessoa}">
						<div class="row">
														
							<div class="input-group col-lg-12 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-user text-muted"></i>
									</span>
								</div>
								<input id="nome" type="text" th:name="nome" placeholder="Nome"
									class="form-control bg-white border-left-0 border-md" required>
							</div>

							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-envelope text-muted"></i>
									</span>
								</div>
								<input id="email" type="email" th:name="email"
									placeholder="Email"
									class="form-control bg-white border-left-0 border-md" required>
							</div>

							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-phone-square text-muted"></i>
									</span>
								</div>
								<input id="telefone" type="tel" th:name="telefone"
									placeholder="Telefone"
									class="form-control bg-white border-md border-left-0 pl-3" required>
							</div>

							<div class="input-group col-lg-12">
								<div class="row">
									<div class="input-group col-lg-6 mb-4">
										<div class="input-group-prepend">
											<span
												class="input-group-text bg-white px-4 border-md border-right-0">
												<i class="fa fa-lock text-muted"></i>
											</span>
										</div>
										<input id="senha" type="password" th:name="senha"
											placeholder="Sua senha"
											class="form-control bg-white border-left-0 border-md" required>
									</div>

									<div class="input-group col-lg-6 mb-4">
										<div class="input-group-prepend">
											<span
												class="input-group-text bg-white px-4 border-md border-right-0">
												<i class="fa fa-lock text-muted"></i>
											</span>
										</div>
										<input id="confirmaSenha" type="password" th:name="confirmaSenha"
											placeholder="Confirme sua senha"
											class="form-control bg-white border-left-0 border-md" required>
									</div>
								</div>
							</div>
							
							<div class="input-group col-lg-12 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-bookmark text-muted"></i>
									</span>
								</div>
								<input id="rua" type="text" th:name="rua"
									placeholder="Endereço"
									class="form-control bg-white border-left-0 border-md" required>
							</div>
							
							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-bookmark text-muted"></i>
									</span>
								</div>
								<input id="bairro" type="text" th:name="bairro"
									placeholder="Bairro"
									class="form-control bg-white border-left-0 border-md" required>
							</div>
							
							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-bookmark text-muted"></i>
									</span>
								</div>
								<input id="numero" type="text" th:name="numero"
									placeholder="Número"
									class="form-control bg-white border-left-0 border-md" required>
							</div>
							
							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-bookmark text-muted"></i>
									</span>
								</div>
								<select id="cidade" th:name="cidade" class="form-control bg-white border-left-0 border-md" require>
									<option>Escolha a cidade</option>
									<option value="Itajubá">Itajubá</option>
									<option value="Pouso Alegre">Pouso Alegre</option>
									<option value="Santa Rita do Sapucaí">Santa Rita do Sapucaí</option>
								</select>
							</div>
							
							<div class="input-group col-lg-6 mb-4">
								<div class="input-group-prepend">
									<span
										class="input-group-text bg-white px-4 border-md border-right-0">
										<i class="fa fa-bookmark text-muted"></i>
									</span>
								</div>
								<select id="estado" th:name="estado" class="form-control bg-white border-left-0 border-md" require>
									<option>Escolha o UF</option>
									<option value="MG">Minhas Gerais</option>
								</select>
							</div>
							
							<div class="form-group col-lg-12 mx-auto mb-0">
								<button type="submit" id="btnSubmit"
									class="btn btn-primary btn-block py-2">Crie sua conta
								</button>
							</div>

							<div
								class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
								<div class="border-bottom w-100 ml-5"></div>
								<span class="px-2 small text-muted font-weight-bold text-muted"></span>
								<div class="border-bottom w-100 mr-5"></div>
							</div>

							<div class="text-center w-100">
								<p class="text-muted">
									Já é registrado? <a th:href="@{/login}"
										class="text-primary ml-2">Login</a>
								</p>
							</div>

						</div>
					</form>
				</div>
			</div>

		</div>

		<script>
        	document.querySelector("form").addEventListener("submit", (event) => {
            	event.preventDefault();
            	document.querySelector("#btnSubmit").innerHTML = "<center><i class='fa-spin fa fa-spinner'></i></center>";
            	document.querySelector("#btnSubmit").disabled = true;
            	document.querySelector("form").submit();
       		 })
   		 </script>
	</div>

</body>
</html>