<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login da Conta</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link href="./assets/css/login-style.css" rel="stylesheet">
    <link href="./assets/css/default-style.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="body">
		<div class="limiter">
        <div class="container-login">

            <div class="wrap-login">
                <div class="background-image-login text-center" id="background_image_login"></div>
                <div class="background-login">
                    <form action="#" class="login100" method="POST" th:object="${pessoa}" th:action="@{/login}">
						
						<p th:if="${param.error}" class="alert alert-danger">E-mail e/ou senha inválidos</p>
						<p th:if="${param.logout}" class="alert alert-info">Até logo :)</p>
						<p th:if="${param.createdSuccess}" class="alert alert-success">Já criamos a sua conta, entre com suas credenciais.</p>
						
                        <hr><br>
                        <div class="mb-3">
                            <input id="email" type="email" class="form-control input-border" placeholder="Informe seu e-mail de acesso." name="username" required>
                        </div>
                        <div class="mb-3">
                            <input id="senha" type="password" class="form-control input-border" placeholder="Informe sua senha." name="password" required>
                        </div>
                        <div class="mt-4">
                            <button type="submit" id="btnSubmit" class="btn btn-primary btn-block py-2">
                                Login
                            </button>
                        </div>

                        <div class="mt-4 text-center">
                            <a href="#">
                               <span>Esqueceu sua senha?</span>
                            </a>
                        </div>

                    </form>

                    <div>
                    
                        <a th:href="@{/}" class="btn btn-secondary btn-block py-2">
                            Ir para página inicial
                        </a>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector("form").addEventListener("submit", (event) => {
            event.preventDefault();
            document.querySelector("#btnSubmit").innerHTML = "<center><i class='fa-spin fa fa-spinner'></i></center>";
            document.querySelector("#btnSubmit").disabled = true;
            document.querySelector("form").submit();
        })
        
        window.onload = () => {
        	
        	let bg_login = document.querySelector("#background_image_login");
        	if (bg_login) {
                bg_login.style.backgroundImage = "url(./assets/imgs/3824874.jpg)";
            }
        	
        }
        
    </script>
		
	
	</div>

</body>
</html>