<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="utf-8">

<title>Home</title>

</head>
<body>

	<div layout:fragment="body">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<img src="./assets/imgs/3723847.jpg" class="img-fluid mainImg"
							alt="Imagem principal">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<p class="mainMessage">Agora ficou mais fácil para você Dog
							Walker, controlar seus passeios tais como agenda, formas de
							pagamentos, etc. E para você cliente, encontre o passeador ideal
							para o seu cãozinho!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="text-center">
						<a href="./creat-conta-dog-walker"
							class="btn btn-md btn-outline-success btn-block">Quero ser um
							Dog Walker</a>
					</div>
				</div>
				<div class="clearFix"></div>
				<div class="col-lg-6">
					<div class="text-center">
						<a href="./creat-conta-cliente"
							class="btn btn-md btn-outline-secondary btn-block">Quero
							encontrar um Dog Walker</a>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>
</html>