<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Adicionar Qualificação</title>
</head>
<body>
	
	<div layout:fragment="body">
		<div class="container-box">
			
			<form method="POST" th:object="${qualificacao}" th:action="@{/qualificacao/profissional/post-alterar-qualificacao}">
								
				<div class="form-group">
				  	<label for="formGroupExampleInput">Título:</label>
				  	<input type="text" class="form-control" placeholder="" th:name="titulo" required>
				</div>
				
				<div class="form-group">
				  	<label for="formGroupExampleInput2">Modalidade:</label>
				  	<select class="form-control" th:name="modalidade" required>
				  		<option th:each="modalidade: ${modalidades}" th:value="${modalidade}" th:text="${modalidade}"></option>
				  	</select>
				</div>
				
				<div class="form-group">
				  	<label for="formGroupExampleInput2">Descrição:</label>
				  	<input type="text" class="form-control" placeholder="" th:name="descricao" required>
				</div>

				<div class="form-group">
				  	<button type="submit" class="btn btn-success btn-block">Adicionar</button>
				</div>
			  </form>
			
		</div>
	</div>
	
</body>
</html>