<!DOCTYPE html>
<html layout:decorate="~{/profissional/layout}">
<head>
<meta charset="UTF-8">
<title>Profissional | Minhas Qualificações</title>
</head>
<body>
	
	<div layout:fragment="body">
		<div class="container-box">
		
			<a th:href="@{/reclamacaoSugestao/cliente/registrar-feedback}" class="btn btn-success">Registrar</a>
			<hr>

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Assunto</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		
		</div>
	</div>
	
</body>
</html>